extends ./layout_user.jade
block contenido
    div(class="Index")
        h1(class="BE")  Employee Stock
        br
        a(href="/login" class="right-space") Login
        a(href="/signup" class="right-space") SignUp
    