extends ./layout_user.jade
block contenido
    div(class="Index")
        h1(class="BE")  Employee Stock
        br
        a(href="/login" class="Log") Login
        a(href="/signup" class="Log") SignUp
    