doctype html
html(lang="en")
    head
        title Bolsa de Empleados 
        meta(charset="UTF-8")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous", rel="stylesheet")
        link(rel="stylesheet", href="/public/css/app.css")
    body
        nav(class="large-padding black white-text sticky-position search-bar")
            ul
                li 
                    a(href="/app") Home
                li
                    a(href="/app/user_jobs/user_home") User Home
                li
                    a(href="/app/user_jobs/user_post") User Post
                li
                    a(href="/app/user_jobs/user_info") User Info
                li 
                    a(href="/app/jobs") Jobs
                li 
                    a(href="/app/jobs/new") Post a Job
                li
                    input(type="text", placeholder="Search")
        p
        block contenido

    include footer.jade
        