extends ./layout_user.jade

block contenido
    h1(class="Login") SignUp
    div(class="col-md-6 remove-float content-center big-top-space")
        form(action="/users", method="POST")
            div(class="col-xs-1")
                label(for="email") Email
                input(type="text" name="email", placeholder="Email", id="email", class="form-control")
            
            div(class="col-xs-1")
                label(for="password") Password
                input(type="password" name="password", placeholder="Password", id="password", class="form-control")
            
            div(class="col-xs-1")
                label(for="password") Confirm Password
                input(type="password" name="password_confirmation", placeholder="Confirm password", id="password", class="form-control")
            
            div(class="col-xs-1")
                label(for="username") Username
                input(type="text" name="username", placeholder="Username", id="Username", class="form-control")

            div(class="col-xs-1")
                label(for="role") Role
                select(name="role" id="role", class="form-control")
                    option(value="Administrator") Administrator
                    option(value="Poster") Poster

            div(class="row top-space")
                div(class="col-xs-12 col-sm-6")
                    input(type="submit", value="SignUp", class="btn btn-info")
                div(class="col-xs-12 col-sm-6" text-right)
                    a(href="/login") I already have an account.
                    br
                    a(href="/") Go back.
