body {
    font-size: 25px;
}

.right-space {
    margin-right: 1em;
}

.remove-float {
    float: none;
}

.top-space {
    margin-top: 1.5em;
}

.big-top-space {
    margin-top: 200px;
}

.big-bottom-space {
    margin-bottom: 50px;
}

.large-padding {
    padding: 10px 15px;
}

.black {
    background-color: #222;
}

.white-text {
    color: white;
}

nav {
    text-align: right;
}

nav li {
    display: inline-block;
    margin-right: 1em;
    font-size: 1.5em;
}

nav li a {
    color: white;
}

nav li a:hover {
    color: white;
}

.white {
    background-color: white;
}

.border {
    border: solid 1px #eee;
}

.tr:nth-of-type(odd) {
    background-color: #eee;
}

form.link {
    display: inline-block;
}

form.link input[type="submit"] {
    background-color: transparent;
    border: none;
    color: red;
}

.img-container {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
}

.img-container h1 {
    padding: 15px;
    border-bottom: 1px solid #222;
}

.img-container p {
    text-align: right;
    font-size: 1.2em;
    margin-top: 1em;
}

img {
    max-width: 100%;
    width: 300px;
}

.sticky-position-footer {
    /*position: fixed;*/
    margin-top: 100px;
    bottom: 0;
    width: 100%;
    background-color: lightgrey;
    color: black;
    text-align: center;
}

.margin-right {
    margin-right: 10px;
    font-size: 22px;
}

label {
    font-size: 25px;
    font-style: normal;
}


/*USER_HOME CSS -> MELISSA*/

.search-bar {
    overflow: hidden;
    background-color: #b6eb7a;
}

.search-bar a {
    float: left;
    display: block;
    color: #17706e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.search-bar a:hover {
    background-color: #ddd;
    color: black;
}

.search-bar a.postjob {
    background-color: #fb7813;
    color: white;
}

.search-bar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.design {
    text-align: center;
    color: #fb7813;
    font-style: italic;
    font-size: xx-large;
}

.tabla {
    font-family: "Arial", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
}

.tabla td,
.tabla th {
    border: 1px solid #ddd;
    padding: 8px;
}

.tabla tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabla tr:hover {
    background-color: #ddd;
}

.tabla th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #17706e;
    color: #f7f7ee;
}

.prog {
    text-align: center;
    color: #fb7813;
    font-style: italic;
    font-size: xx-large;
}

.color {
    border: none;
    color: royalblue;
}


/*.img-float {
    float: right;
}*/