doctype html
html
    head 
        title User Home
        link(rel="stylesheet", href="/public/css/app.css")
    body
        .search-bar
            a.postjob(href="postjob") Post a Job
            input(type="text", placeholder="Search")
        br
        
        h1.design  Design
        hr
        br

        table.tabla
            tr 
                th Location
                th Position
                th Company
                th Views
            tr 
                td ble
                td Pos
                td Comp
                td
                    a(href="/app/user_jobs/user_post", class="right-space color") Post
                    a(href="/app/user_jobs/user_info", class="right-space color") Info
            tr 
                td Ana
                td Brian
                td Melissa
                td
                    a(href="/app/user_jobs/user_post", class="right-space color") Post
                    a(href="/app/user_jobs/user_info", class="right-space color") Info
        br
        h1.prog Programming 
        hr
        br
        table.tabla
            tr 
                th Location
                th Position
                th Company
                th Views
            tr 
                td ble
                td Pos
                td Comp
                td
                    a(href="/app/user_jobs/user_post", class="right-space color") Post
                    a(href="/app/user_jobs/user_info", class="right-space color") Info
            tr 
                td Ana
                td Brian
                td Melissa
                td
                    a(href="/app/user_jobs/user_post", class="right-space color") Post
                    a(href="/app/user_jobs/user_info", class="right-space color") Info
